@import "tailwindcss";

:root {
  /* Cores da UI */
  --primary: #181818;
  --secondary: #5c5c5c;
  --accent: #a5a5a5;
  --surface: #e4e4e4;
  --border: #a1a1a1;
  --background: #f1f1f1;

  /* Cores do texto */
  --foreground: #171717;
  --light: #f2f2f2;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {

}